# =========================
# VARIABLES PRIVADAS
# =========================
.env

# =========================
# JAVA / MAVEN
# =========================
target/
*.jar
.mvn/wrapper/maven-wrapper.jar

# =========================
# SPRING TOOL SUITE / IDE
# =========================
.sts4-cache
.classpath
.project
.settings/

# =========================
# INTELLIJ
# =========================
.idea/
*.iml

# =========================
# NODE / VITE
# =========================
node_modules/
dist/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db